@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&display=swap');
@import "tailwindcss";

@theme{
  --font-bungee: "Bungee Spice", sans-serif;
  --font-dosis: "Dosis", sans-serif;
  --font-elms: "Elms Sans", sans-serif;
  --font-jersey: "Jersey 10 Charted", sans-serif;
}